
@{
    ViewBag.Title = "ItirafYaz";
}

<h2>İtiraf Yaz</h2>
<form method="post">
    <div class="satir">
        <label>Mesaj:</label>
        <textarea cols="150" rows="5" name="mesaj"></textarea>
    </div>
    <input type="submit" value="GÖNDER" />
</form>
